{% extends 'base.html' %}

{% block content %}
    <div class="col-md-9">
            <h1> {{ furniture }} </h1>
            <div class="container text-left mt-3">
                <div class="card mb-3" style="max-width: 1200px;">
                    <div class="row g-0">
<!--                        <div class="card-header">{{ item.category }}</div>-->
                        <div class="col-md-3 text-center">
                            {% if furniture.image %}
                            <img src="{{ furniture.image.url }}" class="img-fluid rounded-start" height="200" width="200"
                                 alt="...">
                            {% else %}
                            <img src="https://dummyimage.com/200x200/fff/aaa" class="img-fluid rounded-start"
                                 height="200"
                                 width="200" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
<!--                                <h5 class="card-title">{{ furniture }}</h5>-->
                                <p class="card-text">{{ furniture.description|linebreaks }}</p>
                                <p class="card-text"><small class="text-body-secondary">Дата создания
                                    {{ furniture.created_at|date:"Y-m-d" }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}

